<img
  src="../assets/cover/msb_logo.svg"
  alt="msb logo"
  style="height: 180px; margin: 0 auto 4rem auto; background: transparent"
/>
<h3>${title}</h3>
<p style="font-size: 32px">Data Management and Business Intelligence</p>
<p>
  <small>by</small>
  <small
    ><a
      href="https://www.linkedin.com/in/christoph-baldow/?originalSubdomain=de"
      >Christoph Baldow</a
    >
    and
    <a href="https://www.linkedin.com/in/viktor-atalla-aa0b86170/"
      >Viktor Atalla</a
    ></small
  >
</p>
<img
  src="../assets/cover/atroo_logo.svg"
  alt="atroo logo"
  style="
    width: 200px;
    margin: 0 auto 4rem auto;
    padding-right: 5rem;
    background: transparent;
  "
/>
<img
  src="../assets/cover/debtray_logo.svg"
  alt="debtray logo"
  style="
    width: 200px;
    margin: 0 auto 4rem auto;
    padding-left: 5rem;
    background: transparent;
  "
/>
